/* IMPORTED POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');

/* APP COLOR PALETTE */
:root {
  --header-red: #f20643;
  --drk-red: #c6022c;
  --accent-yellow: #ffe600;
  /* BACKGROUND GRADIENT */
  --darkest-purple: #0f062d;
  --dark-purple: #393570;
  --med-purple: #43437a;
  --lt-purple: #5b5ba8;
  /* ------------------- */
  --drk-vibrant-purple: #301c5b;
  --med-vibrant-purple: #7049db;
  --lt-vibrant-purple: #8969ff;
  --pale-purple: #b3b1c4;
  --white: #ffffff;
  --black: #000000;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  font-family: 'Poppins', Arial, sans-serif;
  height: 100vh;
  background: rgb(15,6,45);
  background: linear-gradient(180deg, rgba(15,6,45,1) 17%, rgba(57,53,112,1) 58%, rgba(67,67,122,1) 79%, rgba(91,91,168,1) 100%);
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}