.footer {
  width: 100%;
  padding: 2.5rem;
  background-color: var(--drk-vibrant-purple);
}

.footer-container {
  margin: auto;
  max-width: 1140px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-container .birthday-plan-it-logo {
  width: 250px;
  padding-bottom: .75rem
}

.footer-container .subhead {
  padding-bottom: .3rem;
  font-weight: 200;
  letter-spacing: 1px;
}

.footer-container .credits {
  font-size: 1.3rem;
  padding-bottom: .3rem;
}

.footer-container .copyright {
  font-weight: 200;
  letter-spacing: 1px;
}